{% extends "structure.html" %}
{% block main %}
<form action="/login" method="POST" class="form-signin">
    <img src="https://pbs.twimg.com/profile_images/1057105545163722752/GQHtUyui_400x400.jpg" alt="Maury" width="200" height="200">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Username</label>
    <input name="username" type="text" id="username" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="password" class="sr-only">Password</label>
    <input name="password" type="password" id="password" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
{% endblock main %}